.about {
	.main-visual {
		background-image: url(/images/about/main-visual.jpg);
	}
	.about-detail { padding: 110px 0;
		.column-two { margin-top: 80px; display: flex;
			section { width: 49%;
				& + section { margin: 0; }
				&:last-child { margin-left: 2%; }
			}
		}
		h2 {
			margin-bottom: 30px;
			font-family: 'Roboto', Arial, serif;
			font-size: 30px;
			font-weight: bold;
		}
		.detail-list {
			display: flex;
			flex-wrap: wrap;
			line-height: 1.8;
			font-size: 18px;
			font-weight: 300;
			dt,dd {
				&:not(:last-of-type) { margin-bottom: 10px; }
			}
			dt { width: 5em;
				&:after { content: "："; }
			}
			dd { width: calc(100% - 5em); }
		}
		.project-list { line-height: 1.8; font-size: 18px; font-weight: 300;
			li { padding-left: 85px; position: relative;
				.label {
					display: block;
					position: absolute;
					top: .2em;
					left: 0;
					width: 70px;
					color: #FFF;
					background: #AAA;
					font-size: 14px;
					text-align: center;
				}
				&:not(:last-child) { margin-bottom: 10px; }
			}
		}
	}
}
